{{define "head"}}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Title}}</title>
<meta name="description" content="{{.MetaDesc}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{.Title}}">
<meta property="og:description" content="{{.MetaDesc}}">
<meta property="og:site_name" content="{{.Settings.site_title}}">
<link rel="icon" type="image/png" href="/img/logo-light.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Pontano+Sans:wght@400;700&family=Raleway:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/site.css">
<script src="/static/js/htmx.min.js" defer></script>
</head>
<body>
{{end}}
